@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Outfit:wght@300&display=swap');

* {
  font-family: 'Caveat', cursive;
  font-size: 18px;
}

body {
  text-align: center;
}

.nav {
  display: flex;
}

.nav-menu-list {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 10px;
}

li {
  list-style: none;
}
